@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/marcellus';

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    font-family: 'Marcellus', serif;
    letter-spacing: 0.2px;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Marcellus', serif;
    letter-spacing: 0.2px;
    line-height: 1.2;
  }
}
